@mixin rotate($degree) {
  -webkit-transform: rotate($degree);
  -moz-transform: rotate($degree);
  -ms-transform: rotate($degree);
  -o-transform: rotate($degree);
  transform: rotate($degree);
}

@mixin origin($x, $y) {
  -webkit-transform-origin: $x $y;
  -moz-transform-origin: $x $y;
  -ms-transform-origin: $x $y;
  -o-transform-origin: $x $y;
  transform-origin: $x $y;
}

@mixin transition($element:all, $time:0.3s, $effect:ease) {
  -webkit-transition: $element $time $effect;
  -moz-transition: $element $time $effect;
  -ms-transition: $element $time $effect;
  -o-transition: $element $time $effect;
  transition: $element $time $effect;
}

@mixin full_bg($url) {
  background: url($url) no-repeat center center;
  background-size: cover;
}

@mixin font-face($style-name, $file, $family, $category:"") {
  $filepath: "../fonts/" + $file;
  @font-face {
    font-family: "#{$style-name}";
    src: url($filepath + ".ttf")  format('truetype');
  }
  %#{$style-name} {
    font: {
      @if $category != "" {
        family: "#{$style-name}", #{$category};
      }
      @else {
        family: "#{$style-name}";
        weight: normal;
      }
    }
  }
}

@mixin gray-filter($percentage) {
  webkit-filter: grayscale($percentage);
  -moz-filter: grayscale($percentage);
  -o-filter: grayscale($percentage);
  -ms-filter: grayscale($percentage);
  filter: grayscale($percentage);
}
