@import "userpage";
@import url(../fonts/digital-7.ttf);

$digital: 'Digital-7';
@include font-face('Digital-7', 'digital-7', 'Digital-7');


#draft {
  .section-title {
    color: $lighter_2;
    text-align: center;
    margin-bottom: 2.5em;
  }

  #roundsRow {
    #current_round {
      text-align: center;

      h3 {
        background-color: $contrast;
        color: white;
        text-transform: uppercase;
        display: inline-table;
        margin: 0;
        padding: 2px 20px;
      }
    }

    ul {
      list-style-type: none;
      text-align: center;

      .item {
        display: inline-block;
        width: 12em;
        background: white;
        margin: 0;
        border: none;
        height: 10em;
        font-size: 1em;
        border-radius: 0;
        padding: 0;
        background: rgba(255, 255, 255, 0.8);
        cursor: default;

        &.previous_picker {
          @include gray-filter(80%);
          cursor: not-allowed;
        }

        &.current_picker {
          box-shadow: inset 0 1px 1px $contrast, 0 0 40px $contrast;
          border: 1.5px solid $contrast;
        }

        img {
          padding: 0;
        }

        .user_name {
          padding-top: 0.3em;
        }

        .pickedPlayer {
          padding-top: 1.5em;
          p {
            margin: 0;
          }
        }
      }
    }
  }

  #draftRow {
    max-height: 80%;

    #timer {
      font-family: 'Digital-7';
      margin-bottom: 0.5em;

      h1 {
        font-size: 6em;
        display: table;
        margin: 0;
        padding: 0 5px;
        min-width: 1.2em;
        text-align: center;
        @include full_bg('http://www.pixeden.com/media/k2/galleries/44/003-metal-and-carbon-fiber-pattern-background-texture.jpg');

        &.red {
          color: red;
          box-shadow: inset 0 1px 1px red, 0 0 25px red;
        }

        &.green {
          color: green;
          box-shadow: inset 0 1px 1px red, 0 0 25px red;
        }

        button {
          font-size: 0.2em;
          background: none;
          border: none;

          &:active, &:focus, &:hover {
            outline: none;
            box-shadow: none;
          }
        }
      }
    }

    #draft_favorite_section {
      ul {
        li.item {
          display: inline-block;
          width: 6em;
          padding: 10px 5px;
          margin: 5px 3px;
          border: 2px solid #91BED4;
          border-radius: 10px;
          background-color: rgba(255, 255, 255, 0.8);
          font-size: 1.1em;
          font-weight: bold;
          text-align: center;
          cursor: pointer;
          color: $darker_1;

          small {
            font-size: 0.7em;
          }

          button {
            background: transparent;
            border: none;
            border-radius: 0;
            font-size: 1.2em;
            color: $contrast;

            &:hover, &:active, &:focus {
              outline: none;
              text-shadow: none;
            }
          }
        }
      }
    }

    #draft_team_section {
      accordion {
        .panel-group {
          border: none;

          .panel {
            border-radius: 0;
            border: none;
            margin-top: 0;

            .panel-heading {
              color: white;
              background-color: $darker_1;
              border-radius: 0;
              border: 0;

              a {
                &:hover, &:focus {
                  text-decoration: none;
                  outline: none;
                }
              }
            }

            .panel-body {
                background-color: $lighter_1;

              ul {
                margin: 0;
              }
            }
          }
        }
      }
    }

    #draft_table_section {
      .section-title {
        margin-bottom: 0;
      }

      .pagination li {
        margin: 0;
      }

      .draft-filter {
        padding-left: 5px !important;

        input {
          border-radius: 0;
          color: black;
          border-color: black;

          &:focus {
            box-shadow: none;
          }

          &.search {
            border-radius: 20px;

            &:focus {
              box-shadow: inset 0 1px 1px $contrast, 0 0 8px $contrast;
            }
          }
        }
      }

      #draft-main-table {
        .nav-tabs {
          li {
            a {
              background-color: $darker_1;
              color: $lighter_2;
              border: none;
              border-radius: 0;
              margin-right: 0;
              @include transition(all, 0.3s, ease);
            }

            &.active {
              a {
                background-color: $contrast;
                font-weight: bold;
              }
            }
          }
        }

        .tab-content {
          .pagination {
            margin-top: 0;
            border-radius: 0;

            li {
              a {
                color: black;
                border-radius: 0;
                border-top: none;
                border-left: none;
                border-right: none;
                border-color: $darker_2;
              }

              &.active {
                a {
                  border-color: $darker_2;
                  background-color: $darker_2;
                }
              }
            }
          }
        }
      }
    }
  }

  #online_players {
    position: fixed;
    left: 0;
    bottom: 0;

    accordion {
      .panel-group {
        margin: 0;
        border: none;
        border-radius: 0;

        .panel {
          border: none;
          border-radius: 0;
        }

        .panel-heading {
          padding: 5px 15px;
          background: $contrast;
          color: #fff;
          border: none;
          border-radius: 0;

          .panel-title {
            font-size: 1em;

            a {
              &:active, &:focus, &:hover {
                text-decoration: none;
                outline: none;
                box-shadow: none;
              }
            }
          }
        }

        .panel-body {
          padding: 5px 10px;

          ul {
            list-style-type: none;
            padding: 0;

            li {
              font-size: 0.8em;
            }
          }
        }
      }
    }

    .user-status {
      font-size: 1.1em;

      &.user-status-online {
        color: limegreen;
      }
      &.user-status-offline {
        color: red;
      }
    }
  }
}
