@import "navbar";

#draft {
  .section-title {
    color: $lighter_2;
    text-align: center;
  }

  #roundsRow {
    width: 100%;
    margin: -20px 0 2em 0;

    #roundsAccordion {
      display: block;
      width: 100%;
      max-height: 100%;
      margin: 0 auto;
      overflow: scroll hidden;
      border-radius: 0;
      background-color: transparent;

      .user-status {
        font-size: 1.1em;

        &.user-status-online {
          color: limegreen;
        }
        &.user-status-offline {
          color: red;
        }
      }

      ul {
        list-style: none;
      }

      #roundsList {
        padding: 0 15px;
        display: table-row;
        height: 10em;
        overflow-x: scroll;
        background: transparent;

        &::-webkit-scrollbar {
          width: 4px;
        }

        .panel-horizontal {
          display: table-cell;
          margin: 0;
          border-radius: 0;
          height: 10em;
          border: none;

          .panel-heading, .panel-body {
            display: table-cell;
            height: 10em;
          }

          .panel-body {
            display: none;
            padding: 0;
            overflow-y: scroll;
            min-width: 8em;
            background: $lighter_1;

            &::-webkit-scrollbar {
              width: 1px;
            }

            ul {
              width: 100%;
              height: 100%;
              padding: 0;

              li {
                border: none;
                width: 100%;
                padding: 5px 10px;
              }
            }
          }
          .panel-heading {
            cursor: pointer;
            background: $contrast;
            color: white;
            border-top: none;
            border-bottom: none;
            border-right: 1px solid white;
            border-radius: 0;
            padding: 5px 7px;

            .panel-title {
              width: 1em;
              word-break: break-all;
              text-align: center;

              hr {
                margin-top: 10px;
                text-align: center;
                color: transparent;
                margin-bottom: 0;
              }
            }

            &.active + .panel-body {
              display: table-cell;
            }
          }
        }
      }
    }
  }

  #draftRow {
    max-height: 80%;

    #draft_favorite_section {
      ul {
        li.item {
          display: inline-block;
          width: 6em;
          padding: 10px 5px;
          margin: 5px 3px;
          border: 2px solid #91BED4;
          border-radius: 10px;
          background-color: rgba(255, 255, 255, 0.8);
          font-size: 1.1em;
          font-weight: bold;
          text-align: center;
          cursor: pointer;
          color: $darker_1;

          small {
            font-size: 0.7em;
          }

          button {
            background: transparent;
            border: none;
            border-radius: 0;
            font-size: 1.2em;
            color: $contrast;

            &:hover, &:active, &:focus {
              outline: none;
              text-shadow: none;
            }
          }
        }
      }
    }

    #draft_team_section {
      accordion {
        .panel-group {
          border: none;

          .panel {
            border-radius: 0;
            border: none;
            margin-top: 0;

            .panel-heading {
              color: white;
              background-color: $darker_1;
              border-radius: 0;
              border: 0;

              a {
                &:hover, &:focus {
                  text-decoration: none;
                  outline: none;
                }
              }
            }

            .panel-body {
                background-color: $lighter_1;

              ul {
                margin: 0;
              }
            }
          }
        }
      }
    }

    #draft_table_section {
      .pagination li {
        margin: 0;
      }

      #draft-filter {
        padding-left: 5px !important;

        input {
          border-radius: 0;
          color: black;
          border-color: black;

          &:focus {
            box-shadow: none;
          }

          &#search {
            border-radius: 20px;

            &:focus {
              box-shadow: inset 0 1px 1px $contrast, 0 0 8px $contrast;
            }
          }
        }
      }

      #draft-main-table {
        .nav-tabs {
          li {
            a {
              background-color: $darker_1;
              color: $lighter_2;
              border: none;
              border-radius: 0;
              margin-right: 0;
              @include transition(all, 0.3s, ease);
            }

            &.active {
              a {
                background-color: $contrast;
                font-weight: bold;
              }
            }
          }
        }

        .tab-content {
          .pagination {
            margin-top: 0;
            border-radius: 0;

            li {
              a {
                color: black;
                border-radius: 0;
                border-top: none;
                border-left: none;
                border-right: none;
                border-color: $darker_2;
              }

              &.active {
                a {
                  border-color: $darker_2;
                  background-color: $darker_2;
                }
              }
            }
          }

          table {
            border: none;
            background: $lighter_2;

            thead {
              th {
                cursor: pointer;
                background: $contrast;
                color: white;
                border: none;

                span {
                  float: right;
                }
              }
            }

            tbody {
              tr:nth-of-type(odd) {
                background: $lighter_1;
              }

              tr:last-child {
                td {
                  border-bottom: none;
                }
              }

              td {
                border-color: $lighter_1;
                border-left: none;
                border-right: none;

                button {
                  border: none;
                  font-size: 1.1em;
                  font-weight: bold;
                  background-color: $darker_2;
                  color: white;
                  padding: 1px 7px;

                  @include transition(all, 0.3s, ease-in-out);

                  &:hover, &:focus {
                    background-color: $contrast;
                    outline: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #online_players {
    position: absolute;
    left: 0;
    bottom: 0;

    accordion {
      .panel-group {
        margin: 0;
        border: none;
        border-radius: 0;

        .panel {
          border: none;
          border-radius: 0;
        }

        .panel-heading {
          padding: 5px 15px;
          background: $contrast;
          color: #fff;
          border: none;
          border-radius: 0;

          .panel-title {
            font-size: 1em;

            a {
              &:active, &:focus, &:hover {
                text-decoration: none;
                outline: none;
                box-shadow: none;
              }
            }
          }
        }

        .panel-body {
          padding: 5px 10px;

          ul {
            list-style-type: none;
            padding: 0;

            li {
              font-size: 0.8em;
            }
          }
        }
      }
    }

    .user-status {
      font-size: 1.1em;

      &.user-status-online {
        color: limegreen;
      }
      &.user-status-offline {
        color: red;
      }
    }
  }
}
