@import "home";

#user_page {

  .league_btn {
    background: $darker_1;
    border-color: $darker_1;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 20px;
    margin-bottom: 1em;

    &:hover, &:active, &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  ul {
    list-style-type: none;

    li {
      background-color: rgba(255, 255, 255, 0.7);
      color: #000;
      border: 1.5px solid $contrast;
      display: inline-block;
      width: 48%;

      .delete_league_btn {
        background: $contrast;
        border-color: $contrast;
        box-shadow: none;
        outline: none;
        margin-top: 2em;

        &:hover, &:active, &:focus {
          background: $contrast;
          outline: none;
          box-shadow: none;
        }
      }

      &:nth-child(even) {
        margin-left: 1%;
      }
      &:nth-child(odd) {
         margin-right: 1%;
       }

      a {
        color: #000;

        &:hover, &:focus, &:active {
          text-decoration: none;
          box-shadow: none;
          outline: none;
          color: #000;
        }

        &:hover {

        }

        .league_info {
          .league_name {
            text-align: center;
            color: $contrast;
          }

          p {
            font-size: 1.1em;

            span {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
