<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">Bitleague</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li><a href="#/">Home</a></li>
          <li><a ng-href="#/about" ng-click="checkLoginState()">About</a></li>
        </ul>

        <div class="nav navbar-nav navbar-right">
          <div ng-if="!loggedIn()" ng-include="'views/partials/fbLoginButton.html'"></div>
          <div ng-if="loggedIn()">
            <a href="#/" ng-click="logout()">{{user.name}}</a>
            <a href="#/"><img ng-src="{{user.picture.data.url}}"></a>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
