<div class = "container-fluid">
  <!-- Side Menu -->
  <tabset active="activePill" vertical="true" type="pills">
    <tab index="0" heading="Match Days Calendar">Calendar</tab>
    <tab index="1" heading="My Team">Team lineup and pool of players</tab>
    <tab index="2" heading="Standings">League standings and Next match day</tab>
  </tabset>


    <p ng-if = "league==null">Loading... (Add Loading page)</p>
    <div ng-if = "league != null">
      <h2 ng-if = "user==league.creator"> League: {{league.name}} </h2>

    <ul>
        <li>
          <p ng-if = "league.state != 'DURATION'"><a ui-sref = "draft({id:league_id})">Draft</a></p>
      </li>
        <li>
          <p><a ui-sref = "team_management">My Team</a></p>
        </li>
        <li>
          <p><a ui-sref = "players">League Players</a></p>
        </li>
        </br>
        <li>
          <p><a ng-click = "delete()">Delete League</a></p>
        </li>
    </ul>

      <!--MATCHDAY TABLE-->
      <div class="col-lg-4">
        <table class="table table-bordered table-striped">

    Matches:
    <ul>
      <li ng-repeat="matchday in league.matches">
        Matchday
        <ul>
          <li ng-repeat="match in matchday">
            {{usernames[match.homePlayer]}} vs {{usernames[match.awayPlayer]}}
          </li>
        </ul>
      </li>
    </ul>

    <p ng-if="user==league.creator"><a ng-click="delete()">Delete</a></p>
          <thead>
            <tr><th colspan="2" > <center> Matchday X</th></tr>
          </thead>

          <tbody>
            <tr ng-repeat="game in games" >
                <td ng-if="game.winner == game.teamA" > <center><b>{{ game.teamA }}</td>
                <td ng-if="game.winner == game.teamA" > <center>{{ game.teamB }}</td>
                <td ng-if="game.winner == game.teamB" > <center>{{ game.teamA }}</td>
                <td ng-if="game.winner == game.teamB" > <center><b>{{ game.teamB }}</td>
                <td ng-if="game.winner == 'None'" > <center>{{ game.teamA }}</td>
                <td ng-if="game.winner == 'None'" > <center>{{ game.teamB }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
