<div class = "col-xs-6 col-sm-3 sidebar-offcanvas" id = "sidebar" role = "navigation">
  <ul class = "nav">
    <!--<li>
	  <a class = "list-group-item" ui-sref = "league({id:league_id})">
		<p>League: {{league.name}}</p>
		Users:
		<ul>
		  <li ng-repeat="user in league.users">{{user.name}}</li>
		</ul>
		<button ng-show="me == league.creator && league.state=='INVITE'" ng-click="readyToDraft()">Ready to draft</button>
	  </a>
	</li>-->
    <!--<li>
      <a ng-if = "league.state == 'READYTODRAFT' || league.state == 'DRAFTING'" ui-sref = "draft({id:league_id})" class = "list-group-item">
        <i class = "fa fa-comment-o"></i>
        Draft
      </a>
    </li>-->
    <li>
      <a ng-if = "league.state == 'DURATION'" ui-sref = "league.board" class = "list-group-item">
        <i class = "fa fa-comment-o"></i>
        Leading Board
      </a>
    </li>
    <li>
      <a ng-if = "league.state == 'DURATION'" ui-sref-active = "active" ui-sref = "league.matches" class = "list-group-item">
        <i class = "fa fa-fa-users"></i>&nbsp;<i class = "fa fa-times"></i>&nbsp;<i class = "fa fa-fa-users"></i>
        Matches
      </a>
    </li>
    <li>
      <a ng-if = "league.state == 'DURATION'" ui-sref-active = "active" ui-sref = "league.players" class = "list-group-item">
        <i class = "fa fa-users"></i>
        Players
      </a>
    </li>
    <li>
      <a ng-if = "league.state == 'DURATION'" ui-sref-active = "active" ui-sref = "league.team" class = "list-group-item">
        <i class = "fa fa-users"></i>
        My Team
      </a>
    </li>
    <!--<li>
      <p> Invite Link: http://{{redirect_location}}/#/join_league/{{league_id}} </p>
    </li>-->
  </ul>
</div>
