<div class="col-xs-12 back_to_menu big_title">
  <h1>
    <a ui-sref = "league.menu({id:league_id})" tooltip-placement = "top" tooltip = "Back to Menu">
      <i class = "fa fa-arrow-circle-o-left"></i>
    </a>
    <span>Matches Calendar</span>
  </h1>
</div>

<div class="col-sm-4" ng-repeat="matchday in league.matches">
  <table class="table table-bordered table-striped my-table matchday-table">
    <thead>
      <tr>
        <th colspan="3" class="text-center" >Match Day</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="match in matchday">
        <td class="text-center">{{usernames[match.homePlayer]}}</td>
        <td class="text-center"><small>vs</small></td>
        <td class="text-center">{{usernames[match.awayPlayer]}}</td>
      </tr>
    </tbody>
  </table>
</div>
