<div class = "col-xs-12 back_to_menu big_title">
  <h1>
    <a ui-sref = "league.menu({id:league_id})" tooltip-placement = "top" tooltip = "Back to Menu">
      <i class = "fa fa-arrow-circle-o-left"></i>
    </a>
    <span>Matches Calendar</span>
  </h1>
</div>

<div class="col-sm-4" ng-repeat="matchday in league.matches track by $index">
  <table class="table table-bordered table-striped my-table matchday-table">
    <thead>
      <tr>
        <th colspan="5" class="text-center" >Match Day {{$index+1}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="match in matchday">

        <td ng-if="match.result == 0 || match.result == 2" class="text-center">{{usernames[match.homePlayer]}}</td>
		    <td ng-if="match.result == 1 || match.result == 3" class="text-center"><strong>{{usernames[match.homePlayer]}}</strong></td>
        <td class="text-center point_column" ng-if="match.result != 0">
          <strong ng-if="match.result == 1 || match.result == 3">{{ match.homePoints }}Pts.</strong>
          <span ng-if="match.result == 2">{{ match.homePoints }}Pts.</span>
        </td>
        <td class="text-center point_column no_results" ng-if="match.result == 0"></td>
		    <td class="text-center versus_column"><small>vs</small></td>
        <td class="text-center point_column no_results" ng-if="match.result == 0"></td>
        <td class="text-center point_column" ng-if="match.result != 0">
          <strong ng-if="match.result == 2 || match.result == 3">{{ match.awayPoints }}Pts.</strong>
          <span ng-if="match.result == 1">{{ match.awayPoints }}Pts.</span>
        </td>
		    <td ng-if="match.result == 0 || match.result == 1" class="text-center">{{usernames[match.awayPlayer]}}</td>
		    <td ng-if="match.result == 2 || match.result == 3" class="text-center"><strong>{{usernames[match.awayPlayer]}}</strong></td>

      </tr>
    </tbody>
  </table>
</div>
