<div class = "container-fluid">
  <!-- sidebar -->
  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <ul class="nav">
      <li>
        <a class="list-group-item" ui-sref = "league({id:league_id})">
          League: {{league.name}}
        </a>
      </li>
      <li>
        <a ng-if = "league.state != 'DURATION'" ui-sref = "draft({id:league_id})" class="list-group-item">
          <i class="fa fa-comment-o"></i> 
          Draft
        </a>
      </li>
      <li>
        <a ui-sref = "players" class="list-group-item">
          <i class="fa fa-comment-o"></i> 
          League Players
        </a>
      </li>
      <li>
        <a ui-sref = "table" class="list-group-item">
          <i class="fa fa-comment-o"></i> 
          Table
        </a>
      </li>               
    </ul>
  </div>
    <!-- Testing
    <p>code: {{league_id}}</p>
  <pre>{{league}}</pre>
    -->

  <ul>
      <li>
        <p><a ng-click = "delete()">Delete League</a></p>
      </li>
  </ul>

  <div ui-view=""></div>
    
    <!--MATCHDAY TABLE-->
    <div class="col-lg-4">
      <table class="table table-bordered table-striped">

  Matches:
  <ul>
    <li ng-repeat="matchday in league.matches">
      Matchday
      <ul>
        <li ng-repeat="match in matchday">
          {{usernames[match.homePlayer]}} vs {{usernames[match.awayPlayer]}}
        </li>
      </ul>
    </li>
  </ul>

  <p ng-if="user==league.creator"></p>
        <thead>
          <tr><th colspan="2" > <center> Next Game</th></tr>
        </thead>

        <tbody>
           <!-- ng-repeat="game in games" -->
          <tr>
              <td> <center>{{usernames[match.homePlayer]}}</td>
              <td> <center>{{usernames[match.awayPlayer]}}</td>
              <!--
              <td ng-if="game.winner == game.teamA" > <center><b>{{ game.teamA }}</td>
              <td ng-if="game.winner == game.teamA" > <center>{{ game.teamB }}</td>
              <td ng-if="game.winner == game.teamB" > <center>{{ game.teamA }}</td>
              <td ng-if="game.winner == game.teamB" > <center><b>{{ game.teamB }}</td>
              <td ng-if="game.winner == 'None'" > <center>{{ game.teamA }}</td>
              <td ng-if="game.winner == 'None'" > <center>{{ game.teamB }}</td>
              -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
