<div class = "col-xs-12 back_to_menu big_title">
  <h1>
    <a ui-sref = "league.menu({id:league_id})" tooltip-placement = "top" tooltip = "Back to Menu">
      <i class = "fa fa-arrow-circle-o-left"></i>
    </a>
    <span>League Players</span>
  </h1>
</div>

<div class = "container">
  <div class = "row">
    <div class = "col-lg-12">
      <tabset id = "players_available">
        <tab index = "0" heading = "All">
          <table class = "table table-bordered table-striped my-table">

            <thead>
            <tr>
              <th ng-click = "sortTable('position')">Position
                <span class = "glyphicon sort-icon" ng-show = "sortKey=='position'" ng-class = "{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click = "sortTable('name')">Player
                <span class = "glyphicon sort-icon" ng-show = "sortKey=='name'" ng-class = "{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click = "sortTable('team')">Original Team
                <span class = "glyphicon sort-icon" ng-show = "sortKey=='team'" ng-class = "{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
            </tr>
            </thead>

            <tbody>
            <tr pagination-id = "0" dir-paginate = "player in filtered = (players | filter:{positionDescription: ''} |filter:q | orderBy:sortKey:reverse) | itemsPerPage: pageSize" current-page = "currentPage">
              <td>{{ player.positionDescription }}</td>
              <td>{{ player.name }}</td>
              <td>{{ player.team }}</td>
            </tr>
            </tbody>
          </table>
          <div>
            <div class = "text-center">
              <dir-pagination-controls pagination-id = "0" boundary-links = "true" on-page-change = "pageChangeHandler(newPageNumber)" template-url = "../scripts/dirPagination.tpl.html"></dir-pagination-controls>
            </div>
          </div>
        </tab>
        <tab index = "1" heading = "Goalkeeper">
          <table class = "table table-bordered table-striped my-table">

            <thead>
            <tr>
              <th ng-click = "sortTable('position')">Position
                <span class = "glyphicon sort-icon" ng-show = "sortKey=='position'" ng-class = "{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click = "sortTable('name')">Player
                <span class = "glyphicon sort-icon" ng-show = "sortKey=='name'" ng-class = "{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click = "sortTable('team')">Original Team
                <span class = "glyphicon sort-icon" ng-show = "sortKey=='team'" ng-class = "{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr pagination-id = "1" dir-paginate = "player in filtered = (players | filter:{positionDescription: 'Goalkeeper'} | filter:q | orderBy:sortKey:reverse) | itemsPerPage: pageSize" current-page = "currentPage">
              <td>{{ player.positionDescription }}</td>
              <td>{{ player.name }}</td>
              <td>{{ player.team }}</td>
            </tr>
            </tbody>
          </table>
          <div>
            <div class = "text-center">
              <dir-pagination-controls pagination-id = "1" boundary-links = "true" on-page-change = "pageChangeHandler(newPageNumber)" template-url = "../scripts/dirPagination.tpl.html"></dir-pagination-controls>
            </div>
          </div>
        </tab>
        <tab index = "2" heading = "Defender">
          <table class = "table table-bordered table-striped my-table">

            <thead>
            <tr>
              <th ng-click = "sortTable('position')">Position
                <span class = "glyphicon sort-icon" ng-show = "sortKey=='position'" ng-class = "{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click = "sortTable('name')">Player
                <span class = "glyphicon sort-icon" ng-show = "sortKey=='name'" ng-class = "{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click = "sortTable('team')">Original Team
                <span class = "glyphicon sort-icon" ng-show = "sortKey=='team'" ng-class = "{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr pagination-id = "2" dir-paginate = "player in filtered = (players | filter:{positionDescription: 'Defender'} | filter:q | orderBy:sortKey:reverse) | itemsPerPage: pageSize" current-page = "currentPage">
              <td>{{ player.positionDescription }}</td>
              <td>{{ player.name }}</td>
              <td>{{ player.team }}</td>
            </tr>
            </tbody>
          </table>
          <div>
            <div class = "text-center">
              <dir-pagination-controls pagination-id = "2" boundary-links = "true" on-page-change = "pageChangeHandler(newPageNumber)" template-url = "../scripts/dirPagination.tpl.html"></dir-pagination-controls>
            </div>
          </div>
        </tab>
        <tab index = "3" heading = "Midfielder">
          <table class = "table table-bordered table-striped my-table">

            <thead>
            <tr>
              <th ng-click = "sortTable('position')">Position
                <span class = "glyphicon sort-icon" ng-show = "sortKey=='position'" ng-class = "{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click = "sortTable('name')">Player
                <span class = "glyphicon sort-icon" ng-show = "sortKey=='name'" ng-class = "{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click = "sortTable('team')">Original Team
                <span class = "glyphicon sort-icon" ng-show = "sortKey=='team'" ng-class = "{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
            </tr>
            </thead>

            <tbody>
            <tr pagination-id = "3" dir-paginate = "player in filtered = (players | filter:{positionDescription: 'Midfielder'} | filter:q | orderBy:sortKey:reverse) | itemsPerPage: pageSize" current-page = "currentPage">
              <td>{{ player.positionDescription }}</td>
              <td>{{ player.name }}</td>
              <td>{{ player.team }}</td>
            </tr>
            </tbody>
          </table>
          <div>
            <div class = "text-center">
              <dir-pagination-controls pagination-id = "3" boundary-links = "true" on-page-change = "pageChangeHandler(newPageNumber)" template-url = "../scripts/dirPagination.tpl.html"></dir-pagination-controls>
            </div>
          </div>
        </tab>
        <tab index = "4" heading = "Forward">
          <table class = "table table-bordered table-striped my-table">

            <thead>
            <tr>
              <th ng-click = "sortTable('position')">Position
                <span class = "glyphicon sort-icon" ng-show = "sortKey=='position'" ng-class = "{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click = "sortTable('name')">Player
                <span class = "glyphicon sort-icon" ng-show = "sortKey=='name'" ng-class = "{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th ng-click = "sortTable('team')">Original Team
                <span class = "glyphicon sort-icon" ng-show = "sortKey=='team'" ng-class = "{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
            </tr>
            </thead>

            <tbody>
            <tr pagination-id = "4" dir-paginate = "player in filtered = (players | filter:{positionDescription: 'Forward'} | filter:q | orderBy:sortKey:reverse) | itemsPerPage: pageSize" current-page = "currentPage">
              <td>{{ player.positionDescription }}</td>
              <td>{{ player.name }}</td>
              <td>{{ player.team }}</td>
            </tr>
            </tbody>
          </table>
          <div>
            <div class = "text-center">
              <dir-pagination-controls pagination-id = "4" boundary-links = "true" on-page-change = "pageChangeHandler(newPageNumber)" template-url = "../scripts/dirPagination.tpl.html"></dir-pagination-controls>
            </div>
          </div>
        </tab>
        <div class = "col-xs-4 no-padding draft-filter">
          <div class = "form-group">
            <input ng-model = "q" class = "search form-control" placeholder = "Name, Position, Nationality...">
          </div>
        </div>
      </tabset>
    </div>
  </div>
</div>
