<div class="col-xs-12 back_to_menu big_title">
  <h1>
    <a ui-sref = "league.menu({id:league_id})" tooltip-placement = "top" tooltip = "Back to Menu">
      <i class = "fa fa-arrow-circle-o-left"></i>
    </a>
    <span>My Team</span>
  </h1>
</div>
<div class = "col-xs-12">
  <h4>
    Team Formation: {{defense.length}} - {{midfield.length}} - {{forward.length}}
    <button ng-click="saveTeam()">Save</button>
  </h4>
  <div>
    <div class = "col-lg-12">
      <div class = 'contentWrapper ng-cloak col-lg-7'>
        <div class = 'content'>
          <div class = "row-fluid">
            <h3>Lineup</h3>
            <ul class = "thumbnails">

              <li class = "span3" style = 'margin-left:10px;'>
                <div class = "thumbnail" data-drop = "true" ng-model = 'goalkeeper' data-jqyoui-options = "gk_rest" jqyoui-droppable = "{multiple:true}">
                  <div class = "caption">
                    <div class = "btn btn-info btn-draggable" ng-repeat = "item in goalkeeper" ng-show = "item.title" data-drag = "{{item.drag}}" data-jqyoui-options = "{revert: 'invalid'}" ng-model = "goalkeeper" jqyoui-draggable = "{index: {{$index}},animate:true}">{{item.title}}</div>
                  </div>
                </div>
              </li>

              <li class = "span3" style = 'margin-left:10px;'>
                <div class = "thumbnail" data-drop = "true" ng-model = 'defense' data-jqyoui-options = "df_rest" jqyoui-droppable = "{multiple:true}">
                  <div class = "caption">
                    <div class = "btn btn-info btn-draggable" ng-repeat = "item in defense" ng-show = "item.title" data-drag = "{{item.drag}}" data-jqyoui-options = "{revert: 'invalid'}" ng-model = "defense" jqyoui-draggable = "{index: {{$index}},animate:true}">{{item.title}}</div>
                  </div>
                </div>
              </li>

              <li class = "span3" style = 'margin-left:10px;'>
                <div class = "thumbnail" data-drop = "true" ng-model = 'midfield' data-jqyoui-options = "mf_rest" jqyoui-droppable = "{multiple:true}">
                  <div class = "caption">
                    <div class = "btn btn-info btn-draggable" ng-repeat = "item in midfield" ng-show = "item.title" data-drag = "{{item.drag}}" data-jqyoui-options = "{revert: 'invalid'}" ng-model = "midfield" jqyoui-draggable = "{index: {{$index}},animate:true}">{{item.title}}</div>
                  </div>
                </div>
              </li>

              <li class = "span3" style = 'margin-left:10px;'>
                <div class = "thumbnail" data-drop = "true" ng-model = 'forward' data-jqyoui-options = "fw_rest" jqyoui-droppable = "{multiple:true}">
                  <div class = "caption">
                    <div class = "btn btn-info btn-draggable" ng-repeat = "item in forward" ng-show = "item.title" data-drag = "{{item.drag}}" data-jqyoui-options = "{revert: 'invalid'}" ng-model = "forward" jqyoui-draggable = "{index: {{$index}},animate:true}">{{item.title}}</div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class = "navbar-inner col-lg-5">
        <h3>Benchers</h3>
        <div class = "thumbnail" data-drop = "true" ng-model = 'bench' data-jqyoui-options = "bench" jqyoui-droppable = "{multiple:true}">
          <div class = "caption">
            <div class = "btn btn-info btn-draggable" ng-repeat = "item in bench" ng-show = "item.title" data-drag = "{{item.drag}}" data-jqyoui-options = "{revert: 'invalid'}" ng-model = "bench" jqyoui-draggable = "{index: {{$index}},animate:true}">{{item.title}}</div>
          </div>
        </div>
      </div>

      <div class = "navbar-inner col-lg-5">
        <h3>Other</h3>
        <div class = "thumbnail" data-drop = "true" ng-model = 'other' data-jqyoui-options = "other" jqyoui-droppable = "{multiple:true}">
          <div class = "caption">
            <div class = "btn btn-info btn-draggable" ng-repeat = "item in other" ng-show = "item.title" data-drag = "{{item.drag}}" data-jqyoui-options = "{revert: 'invalid'}" ng-model = "other" jqyoui-draggable = "{index: {{$index}},animate:true}">{{item.title}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
