<div class = "container" id = "user_page">
  <div class = "col-xs-12" id = "leagues_title">
    <h1>My Leagues</h1>
  </div>

  <ul class = "col-xs-8">
    <li ng-repeat = "league in leagues" class = "">
      <a ui-sref = "league({id:league.id})">
        <div class = "col-xs-12 no-padding">
          <img src = "../images/liganos.jpg" class = "col-sm-12 no-padding" alt = "league logo"/>
        </div>
      </a>
      <center>
      <div class = "col-xs-12 no-padding">
        <div class = "league_info">
          <h3 class = "league_name">
            <a ui-sref = "league({id:league.id})">{{league.name}}</a>
            &nbsp;
            <button class="btn btn-warning" ng-click = "delete_league(league.id)"> <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></button>
          </h3>
          <a ui-sref = "league({id:league.id})">
            <p><span>Started: </span>Yes</p>
            <p><span>Number of Teams: </span>4</p>
            <p><span>Current Position: </span>3th</p>
          </a>
        </div>
      </div>
    </li>
  </ul>

  <div class = "col-xs-4">
    <button type="button" class="btn btn-primary" ui-sref="new_league">Create a league</button>
    <button type="button" class="btn btn-primary" ui-sref="join_league">Join a league</button>
  </div>
</div>
